{% extends "blog/index.html" %}
{% load crispy_forms_tags %}


   {% block content %}
        <h1 class='text-4xl'>Welcome to the Login page</h1>
        <div class='container mx-auto'>
            <form class='mb-4' method="POST">
                {% csrf_token %}
                <fieldset class='mb-4' >
                    <legend class='border-b-2 mb-4'> Log In </legend>
                    {{ form|crispy }}
                </fieldset>
               <div>
                <button class='bg-green-400 py-2 px-4 rounded-2xl'>Login</button>
               </div>
            </form>
           <div class=' text-blue-700'>
            <p class='text-sm'>YOU don't have an Account ? </p><a class='underline' href=" {% url "register-page" %} "> Sign up here </a>
           </div>
        </div>
   {% endblock content %}


